{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "flowtype",
  ],
  "env": {
    "browser": true,
    "node": true,
   },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "es6": true,
      "classes": true,
    },
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "15.3",
    },
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false,
    },
  },
  "rules": {
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
      1,
      "always",
      {
        "annotateUndefined": "never"
      },
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always",
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never",
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$",
    ],
  },
}
